.main__navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(19, 77, 7, 0.5);
    padding: 20px;
    z-index: 1;
}
.main__navigation_logo--image {
    width: 60px;
    margin-right: 20px;
  
    
}


.main__navigation_logo--span
{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
@media(max-width:991px) {
    .main__navigation_logo--image {
        width: 40px;
        margin-right: 10px;
    }
}
.main__navigation--social_icon {
    width: 16px;
   
}

.main__navigation--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
}

.main__navigation--logolink {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 1px;
}
@media(max-width:991px) {
    .main__navigation--logolink {
        font-size: 24px;
    }
}
.main__navigation--menu {
    display: flex;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    z-index: 2;
    transition: 0.5s;
    transition-property: opacity , transform;
}

@media(max-width:991px) {
    .main__navigation--menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media(max-width:991px) {
    .main__navigation--menu_open {

        opacity: 1;
        pointer-events: unset;
        transform: unset;
   
    }
}
.main__navigation--item {
    margin-left: 40px;
    padding: 10px 0;
  
}

.main__navigation--item:hover {
    border-bottom: 2px solid white;
}
@media (max-width:1199px) {
    .main__navigation--item {
        margin-left: 30px;
        border-bottom: none;
    }
}

@media(max-width:991px) {
    .main__navigation--item {
        margin-left: 0;
    }
}

@media(max-width:991px) {
    .main__navigation--item:hover {
        border:unset;
       
    }
}


.main__navigation--link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;

}

@media (max-width:991px) {
    .main__navigation--link {
        font-size: 22px;
    }
}

.main__navigation_mobile--button
{
    display: none;
}


@media (max-width:991px) {
    .main__navigation_mobile--button {
      display: unset;
      background: none;
      border: none;
      padding: 0;
    }
}

@media (max-width:991px) {
    .main__navigation_mobile--button_image {
      width: 25px;
      display: block;
    }
}
