* {
    box-sizing: border-box;
}

.section__explore {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__explore--h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(114, 103, 103);
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .section__explore--h3 {

        font-size: 25px;
        margin: 0;
    }
}

.section__explore--paragraph {
    line-height: 1.9;
    color: #777;
    font-size: 18px;
    text-align: justify;
}
@media(max-width:767px) {
    .section__explore--paragraph {
        font-size: 16px;
        line-height: 1.5;
    }
}

.section__explore--img {
    width: 40%;
    margin-left: 30px;
}

@media (max-width:767px) {
    .section__explore--img {
        display: none;
    }

}
