*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner
{
  background: url(picture/banner.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.banner__button--div
{
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__button
{
  border: 2px solid green;
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 1s ease;
z-index: 1;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: sans-serif;
}


.banner__button::after
{
  content: '';
  position: absolute;
  background-color: rgba(16, 133, 25, 0.411);
  top: 0;
  height: 100%;
  width: 100%;
  transform: translate(10%);

}

.banner__button:hover::after
{
  transform: translate(-89%);
  transition: ease-in-out 1s ;
 
}


@media (max-width:767px)
{
  .banner__button
  {
    font-size: 10px;
    padding: 10px 15px;

  }

  .banner__button:hover::after
{
  transform: translate(-91%);
  transition: ease-in-out 1s ;
 
}



}