*
{
    box-sizing: border-box;
  
}

.banner
{
  background: url(picture/9.jpg);  
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.banner__button
{
  border: 2px solid rgb(253, 255, 253);
  color: white;
  padding: 20px 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: sans-serif;
}
.banner__button:hover
{
  background-color: rgb(29, 49, 233);
}


@media (max-width:767px)
{
  .banner__button
  {
    font-size: 10px;
    padding: 10px 15px;
    

  }

}


